[global_config]
[keybindings]
  broadcast_all = <Primary>less
  split_horiz = <Primary>s
  split_vert = <Primary><Shift>s
  broadcast_off = <Primary>w
  toggle_scrollbar = <Primary><Alt>s
[profiles]
  [[default]]
    use_system_font = False
    font = Nimbus Mono L Bold 12
    visible_bell = True
    audible_bell = True
    background_image = None
    foreground_color = "#ffbb00"
    copy_on_selection = True
[layouts]
  [[default]]
    [[[child1]]]
      profile = default
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
  [[dfllay]]
    [[[child0]]]
      position = 0:27
      type = Window
      order = 0
      parent = ""
      size = 1920, 909
    [[[child1]]]
      position = 454
      type = VPaned
      order = 0
      parent = child0
    [[[child2]]]
      position = 960
      type = HPaned
      order = 0
      parent = child1
    [[[child5]]]
      position = 960
      type = HPaned
      order = 1
      parent = child1
    [[[terminal3]]]
      profile = default
      type = Terminal
      order = 0
      parent = child2
    [[[terminal4]]]
      profile = default
      type = Terminal
      order = 1
      parent = child2
    [[[terminal7]]]
      profile = default
      type = Terminal
      order = 1
      parent = child5
    [[[terminal6]]]
      profile = default
      type = Terminal
      order = 0
      parent = child5
[plugins]
