[global_config]
[keybindings]
  broadcast_all = <Primary>less
  broadcast_off = <Primary>w
  split_horiz = <Primary>s
  split_vert = <Primary><Shift>s
  toggle_scrollbar = <Primary><Alt>s
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[dfllay]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 476f2758-302d-41a2-9533-c5fda75e1860
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:0
      size = 1600, 848
      title = key@key-pc:~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 422
      ratio = 0.50059311981
      type = VPaned
    [[[child10]]]
      fullscreen = False
      last_active_term = 5aa17040-3a4d-42b4-8bc8-c83045e5fe51
      last_active_window = False
      maximised = False
      order = 0
      parent = ""
      position = 745:379
      size = 817, 430
      title = key@key-pc:~
      type = Window
    [[[child2]]]
      order = 0
      parent = child1
      position = 798
      ratio = 0.500313479624
      type = HPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 798
      ratio = 0.500313479624
      type = HPaned
    [[[child8]]]
      fullscreen = False
      last_active_term = 8067835b-2a45-4e2a-b415-4b6fb276748a
      last_active_window = False
      maximised = False
      order = 0
      parent = ""
      position = 11:45
      size = 817, 430
      title = key@key-pc:~
      type = Window
    [[[terminal11]]]
      order = 0
      parent = child10
      profile = default
      type = Terminal
      uuid = 5aa17040-3a4d-42b4-8bc8-c83045e5fe51
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = 476f2758-302d-41a2-9533-c5fda75e1860
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 16d4d2db-446a-44c2-8226-447a65a99856
    [[[terminal6]]]
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = 8f282162-4953-423f-a6de-3fcfc979e2b9
    [[[terminal7]]]
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 72fc9761-942c-4f44-aa80-0c591183103d
    [[[terminal9]]]
      order = 0
      parent = child8
      profile = default
      type = Terminal
      uuid = 8067835b-2a45-4e2a-b415-4b6fb276748a
[plugins]
[profiles]
  [[default]]
    audible_bell = True
    copy_on_selection = True
    cursor_color = "#ffbb00"
    font = Nimbus Mono L Bold 12
    foreground_color = "#ffbb00"
    use_system_font = False
    visible_bell = True
